@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: black;
    --secondary-color: red;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search {
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: .5rem 1rem;
    color: white;
}

.search::placeholder {
    color: blueviolet;
}

.search:focus {
    outline: none;
    background: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    margin: 1rem;
    background: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
    letter-spacing: .5px;
}

.movie-info h3 {
    margin-top: 0px;
}

.movie-info span {
    background: var(--primary-color);
    padding: .25rem .5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green {
    color: rgb(7, 205, 7);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
    background: #fff;
    padding: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform .3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}